In [40]:
import os
import pandas as pd
import plotly.express as px
import plotly.offline as pyo

df = pd.read_csv('gdp.csv')

final_data = []

for country_name in df['Country Name'].unique():
    df_pr = df[df['Country Name'] ==country_name]
    data =df_pr.values
    gdp_change = [0]

    for i in range(1, len(data)):
        prev = data[i-1][3]
        cur = data[i][3]
        gdp_change.append(round(((cur-prev)/prev)*100,2))

    df_pr = df_pr.assign(GDP = gdp_change)
    final_data.append(df_pr)

df = pd.concat(final_data, axis = 0)

df.head()

  Country Name Country Code  Year         Value    GDP
0   Arab World          ARB  1968  2.576068e+10   0.00
1   Arab World          ARB  1969  2.843420e+10  10.38
2   Arab World          ARB  1970  3.138550e+10  10.38
3   Arab World          ARB  1971  3.642691e+10  16.06
4   Arab World          ARB  1972  4.331606e+10  18.91

## GDP of Each Country

In [50]:
os.mkdir('GDP Individual')

for country_name in df['Country Name'].unique():

    df_pr = df[df['Country Name']== country_name]
    fig =px.line(df_pr, x = 'Year' , y = 'Value' , title = country_name + 'GDP Analysis')
    pyo.plot(fig , filename = 'GDP Individual/' + country_name + '.html', auto_open = False) # creted a 'GDP Individual' Folder but there is no grapg in the forlde whereas there should b e 256 graphs 
    break

##GDP   of EACH COUNTRY w.r.t 80T

In [58]:
os.mkdir('GDP Individual WRT World')

for country_name in df['Country Name'].unique():

    df_pr = df[df['Country Name']== country_name]
    fig =px.line(df_pr, x = 'Year' , y = 'Value' , title = country_name + 'GDP Analysis', range_y = [0,80000000000000])
    pyo.plot(fig , filename = 'GDP Individual/' + country_name + '.html', autto_open = False) # creted a 'GDP Individual WRT World 'Folder but there is no grapg in the forlde whereas there should b e 256 graphs 
    break